@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Aref+Ruqaa+Ink:wght@400;700&family=Kalam:wght@300&family=Kotta+One&family=Permanent+Marker&family=Shadows+Into+Light&family=Source+Code+Pro:wght@200&family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato:wght@100;300&family=Raleway:wght@100&display=swap');

.inquiry-container {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url('../images/surf_image.jpg');
    background-size: cover;
    background-position: center;
}

.inquiry-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inquiry-form {
    width: 400px;
    padding: 20px;
    background-color: #ffffff84;
    border-radius: 5px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
}

.inquiry-form h1 {
    font-size: 2em;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #cccccce1;
    border-radius: 5px;
}

.form-group .form-label {
    font-size: 0.9em;
    margin-top: 5px;
}

.error-message,
.success-message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9em;
}

.error-message {
    background-color: #ffcccc;
    color: #d60000;
}

.success-message {
    background-color: #ccffcc;
    color: #008000;
}

button[type='submit'] {
    margin: 0 auto;
    /* Add this line to center the button horizontally */
    display: block;
    /* Add this line to make the button a block element */
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}