.nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 98vw;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 1.2rem;
    background-color: rgba(255, 255, 255, 0.602);
    transition: background-color 0.3s ease;
}

.nav_div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav.scrolled {
    background-color: rgb(1, 31, 52);
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.1);
    /* This will give a slight shadow effect when scrolled */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 70px;
    padding: 0 30px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.hamburger div {
    width: 2rem;
    height: 0.25rem;
    background: rgb(237, 238, 242);
    /* This is a blue color */
}

.menu {
    display: none;
    flex-direction: row;
    align-items: center;
}

.menu.open {
    display: flex;
}

@media screen and (min-width: 769px) {
    .menu {
        display: flex;
    }
}

ul {
    font-size: 5px;
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding: 10px 15px;
    /* Increased horizontal padding for spacing */
    color: #eaecf0;    
}

li a {
    font-size: 20px;
    /* This will make the text slightly larger */
    font-style: bold;
    color: #fcfcfc;    /* This will make the link text blue */
    text-decoration: none;
    /* This will remove underline from link text */
    transition: color 0.5s ease;
    /* This will add a transition to the color property */
}

li a:hover {
    color: rgb(141, 170, 255);
    /* This will slightly change the color of the link text when hovered */
}
@media only screen and (max-width: 768px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2000;
        font-size: 1rem;
        padding: 0.5rem;
    }

    /* Override for homepage */
    .home .nav {
        position: static;
        /* Resets the nav positioning on the homepage */
    }

    li {
        padding: 10px 10px;
    }

    li a {
        font-size: 18px;
    }

    .hamburger {
        width: 1.5rem;
        height: 2.0rem;
    }

    .hamburger div {
        width: 2.0rem;
        height: 0.2rem;
    }

    .logo-image {
        height: 50px;
        padding: 0 5px;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: -5vw;
        background-color: rgb(1, 31, 52);
        width: 100%;
    }

    .menu:not(.open) {
        display: none;
    }

    .main-content {
        padding-top: 50px;
        /* Adjust this value according to your navbar's height */
    }
}