.participant-page {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/participant_form.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.participant-form-container {
    width: 100%;
    max-width: 400px;
    margin: 200px auto;
    /* Adjust the top margin to position the form */
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.184);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participant-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #fff;
}

.participant-form-container button[type="submit"] {
    background-color: #2f7eedc1;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.participant-form-container button[type="submit"]:hover {
    background-color: #3440e3;
}