@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

.title-div {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  /* Increase padding */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/deck.jpg');
  background-size: cover;
  transform-style: preserve-3d;
  z-index: -1;
}

.title {
  font-size: calc(6rem + 3vw);
  /* adjust the values as per your design needs */
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: white;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: someValue;
}

.november{
  font-size: calc(2rem + 1vw);
  /* adjust the values as per your design needs */
  letter-spacing: 0.2em;
  color: white;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Cormorant Garamond', serif;
  margin-top: 3rem;
}

.subtitle {
  font-size: calc(2rem + 1vw);
  /* adjust the values as per your design needs */
  text-transform: lowercase;
  margin-top: -3rem;
  letter-spacing: 0.2em;
  color: white;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

.retreatdate{
  font-size: calc(2rem + 1vw);
  /* adjust the values as per your design needs */
  text-transform: lowercase;
  letter-spacing: 0.2em;
  margin-top: -1rem;
  color: white;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;

}

.title-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

@media (max-width: 780px) {
  .title-div {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Cormorant Garamond', serif;
  }

  .background {
    width: 100%;
      /* Image container takes full width on mobile */
    height: 40vh;
      /* Reduced height for mobile, adjust as required */
  }

  .title,
  .subtitle {
 
    text-shadow: none;
    font-family: sans-serif;
  }
  .subtitle {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .title-div::before {
    display: none;
  }
}

.fall-announcement {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateY(50px);
}

.fall-announcement.visible {
  opacity: 1;
  transform: translateY(0);
}

.fall-announcement.hidden {
  opacity: 0;
  transform: translateY(50px);
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .title-div {
    font-family: 'Cormorant Garamond', serif;
  }

  .background {
    background-position: center;
  }

  .title {
    font-size: 2.8rem;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 1rem;
  }

  .november {
    margin-top: 4rem;
    font-size: 2.5rem;
    text-shadow: none;
  }
  .subtitle {
    font-size: 1.5rem;
    text-shadow: none;
    font-family: 'Cormorant Garamond', serif;
  }

  .retreatdate {
    font-size: 1.2rem;
    text-shadow: none;
    font-family: 'Cormorant Garamond', serif;
  }

  .subtitle,
  .retreatdate {
    margin-top: -1rem;
    /* Slight increase for better spacing */
  }

  .title-div::before {
    display: none;
  }
}